p {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.inline-text {
  display: inline-block;
}

.margin-top-sm {
  margin-top: 24px;
}

.margin-top-md {
  margin-top: 48px;
}

.margin-btm-md {
  margin-bottom: 48px;
}

.axis-label {
  color: #333;
  font-family: 'gotham-L', sans-serif;
  font-size: 14px;
}

.axis path,
.axis line{
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

text {
  font-family: 'gotham-L', sans-serif;
  font-size: 14px;
}

.payoffLine {
  fill: none;
  stroke: #f2893b;
  stroke-width: 1.5px;
}

.utilityLine {
  fill: none;
  stroke: #bbb;
  stroke-width: 1.5px;
}

#spend {
  color: #f2893b;
}

.label-container{
  height: 32px;
  width: 80px;
  background-color: '#333';
}

text.data-label {
  fill: white;
  font-family: 'gotham-L', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.maxUtility {
  fill: none;
  stroke: #f2893b;
  stroke-width: 1.5px;
}